<%= form_for(@hold) do |f| %>
  <% if @hold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hold.errors.count, "error") %> prohibited this hold from being saved:</h2>

      <ul>
      <% @hold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pkg_id %><br>
    <%= f.text_field :pkg_id %>
  </div>
  <div class="field">
    <%= f.label :sto_id %><br>
    <%= f.number_field :sto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
