<p id="notice"><%= notice %></p>

<h1>Listing Instances</h1>

<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Instance</th>
      <th>Method</th>
      <th>Dept time</th>
      <th>Arvl time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.route_id %></td>
        <td><%= instance.instance_id %></td>
        <td><%= instance.method %></td>
        <td><%= instance.dept_time %></td>
        <td><%= instance.arvl_time %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance', new_instance_path %>
