<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.customer_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @customer.timezone %>
</p>

<p>
  <strong>Country:</strong>
<<<<<<< HEAD
  <%= @customer.CustomerAdd.country %>
=======
  <%= @customer.country %>
>>>>>>> a626c4b3984e3f743c082374be6e7cf5b2ba95c4
</p>

<p>
  <strong>State:</strong>
<<<<<<< HEAD
  <%= @customer.CustomerAdd.state %>
=======
  <%= @customer.state %>
>>>>>>> a626c4b3984e3f743c082374be6e7cf5b2ba95c4
</p>

<p>
  <strong>City:</strong>
<<<<<<< HEAD
  <%= @customer.CustomerAdd.city %>
=======
  <%= @customer.city %>
>>>>>>> a626c4b3984e3f743c082374be6e7cf5b2ba95c4
</p>

<p>
  <strong>Street:</strong>
<<<<<<< HEAD
  <%= @customer.CustomerAdd.street %>
=======
  <%= @customer.street %>
>>>>>>> a626c4b3984e3f743c082374be6e7cf5b2ba95c4
</p>

<p>
  <strong>Zipcode:</strong>
<<<<<<< HEAD
  <%= @customer.CustomerAdd.zipcode %>
=======
  <%= @customer.zipcode %>
>>>>>>> a626c4b3984e3f743c082374be6e7cf5b2ba95c4
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
